html {
   background: #6397eb;
   color: white;
}
body {
    line-height: 1;
    width: 960px;
    background: white;
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif; 
 }
 
 ol, ul {
    list-style: none;
 }
 
 /* page header */
 header {
    width: 100%;
    font-size: 24px;
    text-align: center;
    line-height: auto;
 }
 
 /* main content */
 article {
    width: 960px;
    text-align: left;
    position: relative;
 }
 
 
 
 /*-------------------- Project Styles ------------------*/
 
 article {
    padding: 20px 50px 60px;
 }
 article h1 {
    font-size: 1.7em;
    margin-bottom: 20px;
 }
 
 article p {
    font-size: 1.1em;
    font-style: italic;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 0 0 20px;
 }
 
 table tr td:first-of-type {
    text-align: right;
    font-size: 1.05em;
    padding-right: 20px;
    height: 30px;
 }
 
 input {
    font-size: 1.1em;
 }